body {
  background-color: #EEE;
}

img {
  width: 100%;
}

.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
  padding: 0.05rem 0.5rem;
}

.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
  color: #FFF;
  background-color: #368a55;
  padding: 0.05rem 0.5rem;
}

.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover {
  background-color: #165e35;
  padding: 0.05rem 0.5rem;
}

.sub-nav dt.active a:focus, .sub-nav dd.active a:focus, .sub-nav li.active a:focus {
  background-color: #165e35;
  padding: 0.05rem 0.5rem;
}
