[
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Site attributes
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 {:db/id #db/id[:db.part/db]
  :db/ident :site/id
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :site/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}


 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Comic attributes
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 {:db/id #db/id[:db.part/db]
  :db/ident :comic/id
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :comic/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
  :db/ident :comic/site
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}


 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Chapter attributes
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 {:db/id #db/id[:db.part/db]
  :db/ident :chapter/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :chapter/number
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :chapter/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :chapter/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}


 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Page attributes
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 {:db/id #db/id[:db.part/db]
  :db/ident :page/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :page/number
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :page/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}


 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Location attributes
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 {:db/id #db/id[:db.part/db]
  :db/ident :location/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :location/image-url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :location/comic
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :location/chapter
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :location/page
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}


 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Ordering attributes
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 {:db/id #db/id[:db.part/db]
  :db/ident :order/previous
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :order/next
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}]
