[{:db/id #db/id[:db.part/db]
  :db/ident :test/enum
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :test.enum/one}

 {:db/id #db/id[:db.part/db]
  :db/ident :test.enum/two}]
